<ion-header>
  <ion-toolbar>
    <ion-title>Jogo de Matemática</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngFor="let lvl of [1, 2, 3, 4, 5]">
    <button [disabled]="!unlockedLevels.includes(lvl)" (click)="selectLevel(lvl)">
      Nível {{ lvl }} 
    </button>
  </div>

  <!-- Barra de status que exibe pontuação, nível e temporizador -->
  <div class="status-bar">
    <div class="status-item">Pontuação: {{ score }}</div>
    <h3>Número de Erros: {{ incorrectAnswers }}</h3> <!-- Atualize para incorrectAnswers -->
    <div class="status-item">Nível: {{ level }}</div>
    <div class="status-item">Tempo Restante: {{ timeLeft }}s</div>
  </div>

  <!-- Exibir mensagem de fim de jogo -->
  <div *ngIf="isGameOver" class="game-over-container">
    <h2>Fim de jogo! Sua pontuação foi: {{ score }}</h2>
    <ion-button expand="block" color="primary" (click)="startGame()">Jogar Novamente</ion-button>
  </div>

  <!-- Pergunta de matemática (exibir apenas se o jogo não acabou) -->
  <div *ngIf="!isGameOver" class="question-container">
    <h2>{{ currentQuestion?.question }}</h2>

    <!-- Opções de resposta -->
    <ion-list>
      <ion-item *ngFor="let option of currentQuestion?.options"
                [ngClass]="{
                  'correct': showCorrectAnswer && option === correctAnswer,
                  'wrong': showCorrectAnswer && option === selectedAnswer && option !== correctAnswer
                }"
                (click)="selectAnswer(option)">
        {{ option }}
      </ion-item>
    </ion-list>

    <!-- Mensagem de feedback -->
    <div *ngIf="message" class="feedback-message">
      <p>{{ message }}</p>
    </div>
  </div>

  <ion-button *ngIf="!isGameOver" expand="full" (click)="toggleGame()">
    {{ isGamePaused ? 'Retomar' : isGameStarted ? 'Pausar' : 'Iniciar Jogo' }}
  </ion-button>
</ion-content>
